<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs', { loggedIn: loggedIn }) %>
    </header>
        <section class="hero">
            <div class="hero_text">
                <h5>#1 Auction</h5>
                <h2>Ferrari</h2>
                <h1>250 GTO</h1>
                <h4>1963</h4>
                <h4> 1 of 37</h4>
                <p>The Ferrari 250 GTO is a legendary sports car, with only 37 ever produced. </p>
                <a href="auction" class="ctaa"><i class="fa-solid fa-play"> Auction Online</i></a>
                <a href="collection" class="ctab">Collection</a>
            </div>

            <div class="hero_img">
                <img src="./img/250GTORedpng.png">
            </div>
            <div class="dropdown_menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="about" class="mainbar">About</a></li>
                    <li><a href="auction" class="mainbar">Auction</a></li>
                    <li><a href="collection" class="mainbar">Collection</a></li>
                    <li><a href="sell" class="mainbar">Sell Your Car</a></li>
                    <li><a href="reg-log" class="action_btn">Get Started</a></li>
                </ul>
            </div> 
        </section>
        <section class="slider">
            <div class="container">
                <div class="slider_wrapper">
                    <div>
                        <button id="arrow_previous" class="arrows"><i class="fa-regular fa-circle-left"></i></button>
                    </div>
                    <div class="image_list">
                        <img class="image_item" src="./img/1.jpg" alt="img1">
                        <img class="image_item" src="./img/2.jpg" alt="img2">
                        <img class="image_item" src="./img/3.jpg" alt="img3">
                        <img class="image_item" src="./img/4.jpg" alt="img4">
                        <img class="image_item" src="./img/5.jpg" alt="img5">
                        <img class="image_item" src="./img/6.jpg" alt="img6">
                        <img class="image_item" src="./img/7.jpg" alt="img7">
                        <img class="image_item" src="./img/8.jpg" alt="img8">
                    </div>
                    <div>
                        <button id="arrow_next" id="arrows"><i class="fa-solid fa-x"></i></button>
                    </div>

                </div>
                <div class="slider_scrollbar">
                    <div class="scrollbar_track">
                        <div class="scrollbar_thumb"></div>
                    </div>

                </div>
            </div>
        </section>
                    <div class="blog_container" id="blogContainer">
                        <h1>Featured Stories</h1>
                        <% blogs.forEach(blog => { %>
                            <% function formatDate(date) { %>
                                <% return new Date(date).toLocaleDateString(); %>
                            <% } %>
                            <div class="blog_post">
                                <!-- Add link to car details page with blog ID -->
                                <a href="/detailsBlog/<%= blog._id %>">
                                    <img src="<%= blog.imagePaths[0] %>">
                                    <h3><%= blog.title %></h3>
                                    <p>Post added: <%= formatDate(blog.dateOfAdding) %></p>
                                </a>
                            </div>
                        <% }) %>
                    </div>
        <div class="scroll-down">
            <h4>Blog</h4>
            <a id="scrollDownButtonMain"><i class="fa-solid fa-circle-arrow-down"></i></i></a>
        </div>
        <script src="../js/scripts.js"></script>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>
       